@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  background-color: #323232;
  color: #f0f0f0;
}

* {
  font-family: Lato, sans-serif;
}

#stats {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.title {
  margin-bottom: -7px;
  text-align: center;
}

.os, .release, .host, .memory, .processor {
  line-height: 14px;
}
