@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  background-color: #323232 !important;
  color: #f0f0f0 !important;
}

* {
  font-family: Lato, sans-serif;
  text-align: center !important;
}

.progress {
  margin-left: 200px !important;
  margin-right: 200px !important;

.title {
  margin-top: 10px !important;
}

.os, .release, .host, .memory, .processor {
  line-height: 13px !important;
}
