<!DOCTYPE html>
<html lang=en>
<head>
   <title>Usage</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
 <h1 class="title">Usage stats</h1>
  <div id="stats">
   <p class="os"><strong>OS</strong>: {{ os }}</p>
   <p class="release"><strong>Release</strong>: {{ release }}</p>
   <p class="host"><strong>Hostname</strong>: {{ host }}</p>
   <p class="memory"><strong>RAM usage</strong>: {{ memory }}</p>
   <p class="processor"><strong>CPU usage</strong>: {{ processor }}</p>
  </div>
</body>
</html>
